.weather-icon{
  max-width: 50px;
}

.current-temp{
  font-size: 30px;
  font-weight: bold;
  padding: 5px 0 5px 5px;
}

.day-col{
  text-align: center;
}

.city-list{
  position: absolute;
  top: 39px;
  width: 100%;
  background: white;
  z-index: 99;
}

.city-list li{
  padding-top: 10px;
  padding-bottom: 10px;
}
